<p>client-list works!</p>

<table border="2">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Document Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of clientList">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.documentNumber}}</td>
            <td>
                <a [routerLink]="['../client-update',item.id]">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
