<p>sales-list works!</p>
<table border="2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Bike id</th>
            <th>Model</th>
            <th>Price</th>
            <th>Serial </th>
            <th>Client Id</th>
            <th>Client Name</th>
            <th>Client Email</th>
            <th>Client Phone Number</th>
            <th>Client Document Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of saleList">
            <td>{{item.id}}</td>
            <td>{{item.dateSale}}</td>
            <td>{{item.bike.id}}</td>
            <td>{{item.bike.model}}</td>
            <td>{{item.bike.price}}</td>
            <td>{{item.bike.serial}}</td>
            <td>{{item.client.id}}</td>
            <td>{{item.client.name}}</td>
            <td>{{item.client.email}}</td>
            <td>{{item.client.phoneNumber}}</td>
            <td>{{item.client.documentNumber}}</td>
        </tr>
    </tbody>
</table>
