<h2 routerLink="/bikes">BIKES</h2>
  <a routerLink="//bikes/bikes-list"><strong><br>BIKE LIST<br></strong></a>
  <a routerLink="//bikes/bikes-create"><strong><br>BIKE CREATE<br></strong></a>
  <a routerLink="//bikes/bikes-view"><strong><br>BIKE VIEW<br></strong></a>
  <a routerLink="//bikes/bikes-update"><strong><br>BIKE UPDATE<br></strong></a>
  <h2 routerLink="/client">CLIENTS</h2>
  <a routerLink="//client/client-list"><strong><br>CLIENTS LIST<br></strong></a>
  <a routerLink="//client/client-create"><strong><br>CLIENTS CREATE<br></strong></a>
  <a routerLink="//client/client-view"><strong><br>CLIENTS VIEW<br></strong></a>
  <a routerLink="//client/client-update"><strong><br>CLIENTS UPDATE<br></strong></a>
  <h2 routerLink="/sales">SALES</h2>
  <a routerLink="//sales/sales-list"><strong><br>SALES LIST<br></strong></a>
  <a routerLink="//sales/sales-create"><strong><br>SALES CREATE<br></strong></a>
  <a routerLink="//sales/sales-view"><strong><br>SALES VIEW<br></strong></a>
  <a routerLink="//sales/sales-update"><strong><br>SALES UPDATE<br></strong></a>
