<p>bikes-create works!</p>

  
<form [formGroup] = "formBikeCreate"(ngSubmit) = "saveBike ()">
    <div>
        <label for="">Model</label>
        <input formControlName="model" type="text">
        <div *ngIf="formBikeCreate.get('model').invalid
        &&(formBikeCreate.get('model').dirty || 
        formBikeCreate.get('model').touched)">
        <div *ngIf="formBikeCreate.get('model').errors.required">
            <p>Este Campo es obligatorio</p>
        </div>
        <div *ngIf="formBikeCreate.get('model').errors.maxlength">
            <p>El campo debe contener maximo 4 caracteres</p>
        </div>
    </div>
    </div>
    <div>
        <label for="">Price</label>
        <input formControlName="price" type="text">
    </div>
    <div>
        <label for="">Serial</label>
        <input formControlName="serial" type="text">
    </div>
    <button type="submit" [disabled]="formBikeCreate.invalid">Guardar</button>
</form>