<p>bikes-list works!</p>
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Price</th>
            <th>Serial</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bikesList" >
            
            <td>{{item.id}}</td>
            <td>{{item.model}}</td>
            <td>{{item.price}}</td>
            <td>{{item.serial}}</td>
            <td>
                <a [routerLink]="['../bikes-update',item.id]">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
