<p>client-create works!</p>

<form [formGroup] = "formClientCreate"(ngSubmit) = "saveClient ()" >
    <div>
        <label for="">Name</label>
        <input formControlName="name" type="text">
    </div>
    <div>
        <label for="">Email</label>
        <input formControlName="email" type="text">
        <div *ngIf="formClientCreate.get('email').invalid 
        &&(formClientCreate.get('email').touched)">
        <div *ngIf="formClientCreate.get('email').errors.required">
            <p>El campo es Obligatorio</p>
    </div>
    <div *ngIf="formClientCreate.get('email').errors.pattern">
        <p>No es Un Email valido </p>

    </div>
        </div>
    </div>
    <div>
        <label for="">Phone Number</label>
        <input formControlName="phoneNumber" type="text">
    </div>
    <div>
        <label for="">Document Number</label>
        <input formControlName="documentNumber" type="text">
        <div *ngIf="formClientCreate.get('documentNumber').invalid
        &&(formClientCreate.get('documentNumber').touched)">
        <div *ngIf="formClientCreate.get('documentNumber').errors.required">
            <p>Este campo es Obligatorio</p>
        </div>
        <div *ngIf="formClientCreate.get('documentNumber').errors.minlength">
            <p>El numero de cedula debe tener como minimo 6 digitos</p>
        </div>

        </div>
    </div>
    <button type="submit"[disabled]="formClientCreate.invalid">Guardar Client </button>
</form>
